# Backup files
*~
*.bak
*.orig
*.rej

# Waf build system
/build/
.waf-*-*/
.waf3-*-*/
.lock-waf*

# Compiled python code
__pycache__/
*.py[cod]

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Other
/VERSION.info
